@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');

:root {
  --primary-white: #F9F9F9;
  --secondary-white: #FFFDF9;
  --primary-gray: #F4F4F4;
  --secondary-gray: #CDD0CB;
  --primary-black: #52575D;
  --secondary-black: #41444B;
}

.light {
  --error-color:#d76d17;
  --background-color: #F4F4F4;
  --primary-text: #1b1627;
  --primary-color: #17D7A0;
  --secondary-color: #32C1CD;
  --secondary-color-shadow-1: #32c0cd50;
  --secondary-color-shadow2: #32c0cd33;
}

.dark {
  --error-color: #794154;
  --background-color: #1b1627;
  --primary-text: #F4F4F4;
  --primary-color: #544179;
  --secondary-color: #6166B3;
  --secondary-color-shadow-1: #6166B350;
  --secondary-color-shadow-2: #6166B333;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}
button {
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
  border: none;
}


body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark, .light {
  background-color: var(--background-color);
}

.error {
  color: var(--error-color);
}

* {
  color: var(--primary-text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Todo: set active link desing */
.active {
  color: var(--secondary-color);
}

.menu__button {
  color: var(--primary-color);
  border: none;
  background-color: transparent;
  text-align: center;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.modal-wraper {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  color: transparent;
  position:fixed;
  z-index: 9;
}

.bx-menu-alt-left {
  font-size: 1.7rem;
}

.bx-menu-alt-right {
  font-size: 1.7rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: fit-content;
  width: 180px;
  left: 0;
  top: 0;
  box-shadow: 0 5px 13px var(--secondary-color-shadow-1), 0 5px 5px var(--secondary-color-shadow-2);
  background-color: var(--secondary-color-shadow-1);
  border-radius: 5px;
  padding-bottom: 10px;
  z-index: 1;
}

.nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.user__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__button__img {
  border-radius: 50%;
  width: 44px;
  height: 44px;;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: fit-content;
  width: 180px;
  top: 0;
  right: 0;
  box-shadow: 0 5px 13px var(--secondary-color-shadow-1), 0 5px 5px var(--secondary-color-shadow-2);
  background-color: var(--secondary-color-shadow-1);
  border-radius: 5px;
  padding-bottom: 10px;
  z-index: 1;
}

.user-container__link {
  width: 90%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 5px 0;
}

.user-container__link:hover {
  cursor: pointer;
}

.nav__link {
  width: 90%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 5px 0;
}

.theme-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theme-switch-icon {
  font-size: 1.1rem;
  margin-left: 12px;
  color: var(--primary-color);
}

.theme-switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.theme-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 21px;
  background: var(--primary-color);
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.theme-switch-label .theme-switch-span {
  content: '';
  position: absolute;
  top: 2.80px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.2s;
  background: var(--background-color);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.theme-switch-input:checked + .theme-switch-label .theme-switch-span {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.theme-switch-label:active .theme-switch-span {
  width: 60px;
}

.login-link {
  color: var(--secondary-color);
}

.main {
  min-width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-bottom: 35px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  margin: 20px 0 20px 0;
}

.input-error {
  width: 80%;
  height: 20px;
  padding: 5px 0 5px 0;
  font-size: .8rem;
}

.login-form__button {
  margin-top: 45px;
  background-color: var(--primary-color);
  color: var(--secondary-white);
  width: 150px;
  min-height: 44px;
  border-radius: 17px
}

.icon_edit {
  color: white;
  background-color: var(--color-primary);
  padding-top: calc(50% - 9px);
  border: 1px solid var(--color-secondary);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

.icon_edit:hover,
.icon-edit:active {
  border: 1px solid var(--color-primary);
}
.profile {
  min-width: 100%;
  min-height: 100vh;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  top: -150px;
  border: 3px solid var(--secondary-color);
}

.profile-title {
  position: relative;
  top: -100px;
  font-size: 1.6rem;
}

.profile-button {
  color: var(--primary-color);
  min-width: 40px;
  min-height: 40px;
  font-weight: bold;
}

.bx-left-arrow-alt {
  font-size: 1.2rem;
  margin: 10px;
  position: relative;
  top: 3px;
  color: var(--primary-color);
  font-weight: bold;
}

.header-back {
  color: var(--primary-color);
}

.title {
  padding: 40px 0 40px 0;
}

.loginlink {
  color: var(--secondary-color);
}

.main {
  min-width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-bottom: 35px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  margin: 20px 0 20px 0;
}

.input-error {
  width: 80%;
  height: 20px;
  padding: 5px 0 5px 0;
  font-size: .8rem;
}

.login-form__button {
  margin-top: 45px;
  background-color: var(--primary-color);
  color: var(--secondary-white);
  width: 150px;
  min-height: 44px;
  border-radius: 17px
}

.signin-link {
  padding-bottom: 30px;
  color: var(--secondary-color);
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.signin-form__button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-color);
  color: var(--secondary-white);
  width: 150px;
  min-height: 44px;
  border-radius: 17px
}

.img-edit {
  align-items: center;
  justify-content: center;
}

.img-edit-button {
  position: relative;
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 1px;
  align-items: center;
  justify-content: center;
}

.icon_edit {
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
}

.round-bordered-img {
  position: relative;

  border-radius: 50%;
  width: 150px;
  height: 150px;
  left: -19px;
  position: relative;
  border: 3px solid var(--secondary-color);
}

.bordered-img {
  border-radius: 3%;
  width: 150px;
  height: 150px;
  left: -19px;
  position: relative;
  border: 3px solid var(--secondary-color);
}

@media only screen and (min-width: 400px) {
  .main-small .form-input {
    max-width: 450px;
  }
}

@media only screen and (min-width: 800px) {
  .main-small .form-input {
    max-width: 450px;
  }
  .main {
    font-size: 1.3rem;
  }
  .user-container{
    right: 0px;
    width: 180px;
  }
  .menu-container {
    left: 0px;
    width: 180px;
  }
}

@media only screen and (min-width: 1300px) {
  .main-small .form-input {
    max-width: 500px;
  }
  button {
    font-size: 1.3rem;
  }
  .main {
    font-size: 1.6rem;
  }
  .user-container{
    right: 20px;
    width: 250px;
  }
  .menu-container {
    left: 20px;
    width: 250px;
  }
}


@media only screen and (min-width: 1800px) {
  .main-small .form-input {
    max-width: 700px;
  }
  button {
    font-size: 1.5rem;
  }
  .main {
    font-size: 2rem;
  }
  .user-container{
    right: 150px;
    width: 300px;
  }
  .menu-container {
    left: 150px;
    width: 300px;
  }
}

@media only screen and (min-width: 3000px) {
  .main-small .form-input {
    max-width: 700px;
    font-size: 2.5rem;
  }
  button {
    font-size: 1.5rem;
  }
  .main {
    font-size: 3rem;
  }
  .user-container{
    right: 250px;
    width: 300px;
  }
  .menu-container {
    left: 250px;
    width: 300px;
  }
}